div.animation {
    width: 100%;
    height: 100vh;
    background-color: #e08958;
    position: fixed;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
}
// Malpe text animation
#first {
    stroke-dasharray: 682px;
    stroke-dashoffset: 682px;
    animation: fadeInside 0.6s ease-in forwards;
}
#second {
    stroke-dasharray: 404px;
    stroke-dashoffset: 404px;
    animation: fadeInside 0.6s ease-in forwards 0.3s;
}
#third {
    stroke-dasharray: 456px;
    stroke-dashoffset: 456px;
    animation: fadeInside 0.6s ease-in forwards 0.6s;
}
#fourth {
    stroke-dasharray: 223px;
    stroke-dashoffset: 223px;
    animation: fadeInside 0.6s ease-in forwards 0.9s;
}
#fifth {
    stroke-dasharray: 413px;
    stroke-dashoffset: 413px;
    animation: fadeInside 0.6s ease-in forwards 1.2s;
}
// 網頁前端工程師 text animation
#sixth {
    stroke-dasharray: 1386px;
    stroke-dashoffset: 1386px;
    animation: fadeInside 0.6s ease-in forwards;
}
#seventh {
    stroke-dasharray: 1133px;
    stroke-dashoffset: 1133px;
    animation: fadeInside 0.6s ease-in forwards 0.2s;
}
#eighth {
    stroke-dasharray: 1174px;
    stroke-dashoffset: 1174px;
    animation: fadeInside 0.6s ease-in forwards 0.4s;
}
#ninth {
    stroke-dasharray: 1389px;
    stroke-dashoffset: 1389px;
    animation: fadeInside 0.6s ease-in forwards 0.6s;
}
#tenth {
    stroke-dasharray: 606px;
    stroke-dashoffset: 606px;
    animation: fadeInside 0.6s ease-in forwards 0.8s;
}
#eleventh {
    stroke-dasharray: 1284px;
    stroke-dashoffset: 1284px;
    animation: fadeInside 0.6s ease-in forwards 1s;
}
#twelfth {
    stroke-dasharray: 1210px;
    stroke-dashoffset: 1210px;
    animation: fadeInside 0.6s ease-in forwards 1.2s;
}

svg {
    animation: fill 1s ease-in forwards 1.2s;
}

@keyframes fadeInside {
    to {
        stroke-dashoffset: 0px;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

